@use '@angular/material' as mat;

$my-primary-palette: mat.m2-define-palette(mat.$m2-blue-palette);
$my-accent-palette: mat.m2-define-palette(mat.$m2-pink-palette);
$my-warn-palette: mat.m2-define-palette(mat.$m2-red-palette);

$my-theme: mat.m2-define-light-theme((color: (primary: $my-primary-palette,
        accent: $my-accent-palette,
        warn: $my-warn-palette,
      ),
      density: -5,
    ));

@include mat.elevation-classes();
@include mat.app-background();

@include mat.all-component-themes($my-theme);
