AngularProject/node_modules
AngularProject/Migdalor/node_modules
AngularProject/Migdalor/magic-metadata
MagicIDs/branchIDs*.*
MagicIDs/branchids*.*
INI
Run
Application/
Backup/
ECF/
File to keep/
Log/
LocalBackup.bat
Readme.txt
ProgramHeaders.xml
DataSourcesIndex.xml
*.log
*.lock
*.opt
*.sln
*.suo
*.opt
*.xpaproj
sqlite.sqlite
/*.optback
*.XRF
logFile.txt
mglock.dat
XpaProject/Migdalor/*.log
XpaProject/Migdalor/mggw.log
XpaProject/Migdalor/.vs
XpaProject/Migdalor/input/config.json
AngularProject/Migdalor/src/assets/server-config.json
Temp