<UL>
  <LI *ngFor="let item of _source">
    <span *ngIf="item.Menus" (click)="liToggle(item,$event)">

      <div class="father_li" [class.active]="item.isOpen" (click)="ToggleList($event)">
        {{item.Name}}
        <i class="fa dropdownIcon" [ngClass]="item.isOpen ? 'fa-angle-up' : 'fa-angle-down'"></i>
      </div>
      <side-menu [source]="item.Menus" [class.onOff]="!item.isOpen" (leafClick)="leafClick.emit()"></side-menu>
    </span>
    <a *ngIf="!item.Menus" [routerLink]=item.url (click)="aClick($event)">
      <div class="child_li">
        {{item.Name}}
      </div>
    </a>
  </LI>
</UL>
