<div novalidate [formGroup]="screenFormGroup">
  <div [magic]="mgc.CustomersListTable">

    <!-- is mobile is defined in the ts code -->
    <div class="table-wrapper twenty-rows w-100" [hidden]="isMobile">
      <mat-table #table [dataSource]="dataSource" matSort matSortDisableClear
        (matSortChange)="tableService.sortData($event)">

        <ng-container [magic]="mgc.cID" [matColumnDef]="mgc.cID">
          <mat-header-cell *matHeaderCellDef class="col-1">
            קוד
          </mat-header-cell>
          <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" class="col-1">
            <div *ngIf="mg.ifRowCreated(row)">
              <a href="CustomerPage/{{mg.getValue(mgc.CustomerID, row.rowId)}}" class="inline-link" target="_blank">
                {{mg.getValue(mgc.CustomerID, row.rowId)}}
              </a>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container [magic]="mgc.cName" [matColumnDef]="mgc.cName">
          <mat-header-cell *matHeaderCellDef class="col-2">
            שם
          </mat-header-cell>
          <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" class="col-2">
            <div *ngIf="mg.ifRowCreated(row)">
              {{mg.getValue(mgc.CustomerName, row.rowId)}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container [magic]="mgc.cEmail" [matColumnDef]="mgc.cEmail">
          <mat-header-cell *matHeaderCellDef class="col-4">
            אימייל
          </mat-header-cell>
          <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" class="col-4">
            <div *ngIf="mg.ifRowCreated(row)">
              {{mg.getValue(mgc.CustomerEmail, row.rowId) }}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container [magic]="mgc.cActive" [matColumnDef]="mgc.cActive">
          <mat-header-cell *matHeaderCellDef class="col-1">
            פעיל
          </mat-header-cell>
          <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" class="col-1">
            <div *ngIf="mg.ifRowCreated(row)">
              <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                <mat-checkbox [magic]="mgc.ActiveCustomer" [rowId]="row.rowId" [formControlName]="mgc.ActiveCustomer">
                </mat-checkbox>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container [magic]="mgc.cParentCustomer" [matColumnDef]="mgc.cParentCustomer">
          <mat-header-cell *matHeaderCellDef class="col-2">
            לקוח אב
          </mat-header-cell>
          <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" class="col-2">
            <div *ngIf="mg.ifRowCreated(row)">
              {{mg.getValue(mgc.ParentCustomer, row.rowId) }}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container [magic]="mgc.cActions" [matColumnDef]="mgc.cActions">
          <mat-header-cell *matHeaderCellDef class="col-2 cActions">
            פעולות
          </mat-header-cell>
          <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" class="col-2 cBtn">
            <div *ngIf="mg.ifRowCreated(row)">
              <button class="tbl_btn" [magic]="mgc.bEdit" [rowId]="row.rowId" matTooltip="עריכה">
                <i class="fa fa-edit"></i>
              </button>
            </div>
            <div *ngIf="mg.ifRowCreated(row)">
              <button class="tbl_btn" [magic]="mgc.bDelete" [rowId]="row.rowId" matTooltip="מחיקה"
                [disabled]="mg.isDisabled(mgc.bDelete, row.rowId)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div *ngIf="mg.ifRowCreated(row)">
              <button class="tbl_btn" [magic]="mgc.bGotoObject" [rowId]="row.rowId" matTooltip="עריכת לקוח"
                [disabled]="mg.isDisabled(mgc.bGotoObject, row.rowId)">
                <i class="fa-regular fa-user"></i>
              </button>
            </div>
            <div *ngIf="mg.ifRowCreated(row)">
              <button class="tbl_btn" [magic]="mgc.bOpenCustomerPage" [rowId]="row.rowId" matTooltip="פתיחת לקוח"
                [disabled]="mg.isDisabled(mgc.bOpenCustomerPage, row.rowId)">
                <i class="fa fa-up-right-from-square"></i>
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
          [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
          (click)="row? tableService.selectRow(row.rowId) : null">
        </mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="3" (page)="tableService.mgOnPaginateChange($event)"></mat-paginator>
    </div>

    <div *ngFor="let row of dataSource.data" class="MobileCardContainer" [hidden]="!isMobile">
      <div class="mobile-actions-container">
        <div class="Actions">
          <button class="btn tbl_btn" [magic]="mgc.bEdit" [rowId]="row?.rowId" matTooltip="עריכה"
            [disabled]="mg.isDisabled(mgc.bEdit, row?.rowId)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn tbl_btn" [magic]="mgc.bDelete" [rowId]="row?.rowId" matTooltip="מחיקה"
            [disabled]="mg.isDisabled(mgc.bDelete, row?.rowId)">
            <i class="fa fa-trash"></i>
          </button>
          <button class="tbl_btn" [magic]="mgc.bGotoObject" [rowId]="row.rowId" matTooltip="עריכת לקוח"
            [disabled]="mg.isDisabled(mgc.bGotoObject, row.rowId)">
            <i class="fa-regular fa-user"></i>
          </button>
          <button class="tbl_btn" [magic]="mgc.bOpenCustomerPage" [rowId]="row.rowId" matTooltip="פתיחת לקוח"
            [disabled]="mg.isDisabled(mgc.bOpenCustomerPage, row.rowId)">
            <i class="fa fa-up-right-from-square"></i>
          </button>
        </div>
      </div>

      <label>קוד:</label>
      <a href="CustomerPage/{{mg.getValue(mgc.CustomerID, row.rowId)}}" class="inline-link" target="_blank">
        {{mg.getValue(mgc.CustomerID, row?.rowId)}}
      </a>
      <label>שם:</label>
      <p> {{mg.getValue(mgc.CustomerName, row?.rowId)}}</p>
      <label>אימייל:</label>
      <p> {{mg.getValue(mgc.CustomerEmail, row?.rowId)}}</p>
      <label>פעיל:</label>
      <p> {{mg.getValue(mgc.ActiveCustomer, row?.rowId)}}</p>
      <label>לקוח אב:</label>
      <p> {{mg.getValue(mgc.ParentCustomer, row?.rowId)}}</p>
    </div>
  </div>
</div>
