<div novalidate [formGroup]="screenFormGroup">
  <div [magic]="mgc.Customer">

    <div class="overlay-bar">
      <span>
        תיק לקוח {{mg.getValue(mgc.CustomerName)}}
      </span>
    </div>

    <!--
            Navigation tabs using Bootstrap grid for responsiveness.
            We use it here since we will add more buttons later as we develop the application.
         -->
    <div class="row mt-3 px-2 px-md-3">
      <div class="col-6 col-sm-auto px-1 mb-1">
        <button class="nav-button w-100" (click)="ToggleSelected('CustomerDetails')" [magic]="mgc.bCustomerDetails"
          id='CustomerDetails' [disabled]="mg.isDisabled(mgc.bCustomerDetails)">
          פרטי לקוח
        </button>
      </div>

      <div class="col-6 col-sm-auto px-1 mb-1">
        <button class="nav-button w-100" (click)="ToggleSelected('CustomerName')" [magic]="mgc.bCustomerName"
          id='CustomerName' [disabled]="mg.isDisabled(mgc.bCustomerName)">
          שם לקוח
        </button>
      </div>
    </div>

    <hr style="margin-top: 0">

    <magic-subform [magic]="mgc.sCustomerDetails">
    </magic-subform>

    <div class="buttons-container always-bottom">
      <button class="action-button cancel-button" [magic]="mgc.bCancel">
        יציאה
      </button>
    </div>
  </div>
</div>
