<div novalidate [formGroup]="screenFormGroup">
  <div [magic]="mgc.CustomersCrud">

    <div class="overlay-bar">
      <span>
        {{ mg.getCustomProperty(mgc.CustomersCrud, 'WindowTitle') }}
      </span>
    </div>

    <div class="row py-4 px-2">
      <div class="col-12 col-sm-9 col-md-10 mb-2 mb-sm-0">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>שם לקוח</mat-label>
          <input matInput type="text" [magic]="mgc.vName" [formControlName]="mgc.vName" mgFormat maxlength="49">
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-3 col-md-2 d-flex align-items-center mb-2 mb-sm-0">
        <mat-checkbox [magic]="mgc.vActive" [formControlName]="mgc.vActive" class="CenterAlign">
          פעיל
        </mat-checkbox>
      </div>

      <div class="col-12 mt-2 mt-sm-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>אימייל</mat-label>
          <input matInput type="text" [magic]="mgc.vEmail" [formControlName]="mgc.vEmail" mgFormat maxlength="32">
        </mat-form-field>
      </div>
    </div>

    <div class="buttons-container">
      <button class="action-button cancel-button" accesskey="ב" [magic]="mgc.bCancel">
        ביטול
      </button>
      <button class="action-button" accesskey="ש" [magic]="mgc.bSave">
        שמירה
      </button>
    </div>

  </div>
</div>
